body{
  background-color: #f0f0f0;
}
*{
  box-sizing: border-box;
}

.slected-toppings{
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout .items{
  padding: 30px;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
}